<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<!DOCTYPE html>
<html>



  <body>
    
      <!-- Set Up Bootstrap Layout System -->
      <div class="container">
        <div class="row">
          <h1 class="text-center">Welcome to <%= title %>
          </h1>
        </div>
      </div>
      </p>
  </body>

</html>