<!DOCTYPE html>
<html>

<%- include('./partials/header') %>

  <body>
    <%- include('./partials/navbar') %>
      <!-- Set Up Bootstrap Layout System -->
      <div class="container">
        <div class="row">
          <h1 class="text-center">Welcome to <%= title %>
          </h1>
          <a href="/episode/episodes">Episodes</a>
        </div>
      </div>
      </p>
  </body>

</html>