body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://www.psd1.org/cms/lib/WA01001055/Centricity/Domain/405/bookawesomepeople.jpg")
}

a {
  color: #00B7FF;
}
