<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bookster</a>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/authors">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authors/new">Add Author</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books/new">Add Book</a>
                </li>
                <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/private">Private Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/google">Log In</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>
<h2>Search Authors</h2>
<form action="/authors" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => { %>
  <div><%= author.name %></div>
<% }) %>